/* AddThisEvent theme CSS
---------------------------------------------------------------------- */

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/VT323-Regular.ttf"),
	url("http://fonts.gstatic.com/s/vt323/v7/lo_L7yCDHYN9FAxvMCI1vQ.woff2") format("woff2"),
	url("http://fonts.gstatic.com/s/vt323/v7/LfMzj2MWAZU6qzlnp1MNbg.woff") format("woff");
}

/* General */
.addthisevent 							{visibility:hidden;}
.addthisevent span 						{display:none!important;}
.addthisevent .data 					{display:none!important;}

/* The button */
.addthisevent-drop 						{display:inline-block;position:relative;z-index:999998;font-family:VT323,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;color:#000!important;font-weight:300;text-decoration:none;font-size:1vw;}
.addthisevent-drop:hover 				{color:#fff;font-size:1vw;text-decoration:none;}

/* The drop down */
.addthisevent_dropdown 					{position:relative;text-align:left;display:block!important;}
.addthisevent_dropdown span 			{display:inline-block;position:relative;line-height:110%;background:#343434; url(../gfx/button-bg-t1.png) repeat-x!important;text-decoration:none;font-size:1.25vw;font-weight:300;color:#fff;cursor:pointer;padding:0.25em 0.5em 0.25em 0.5em;border:1px solid #e1e1e1;margin:0px 6px 0px 0px;border-radius:10px;}
.addthisevent_dropdown span:hover 		{background:#9B9B9B;color:#000;text-decoration:none;font-size:1.25vw;}
.addthisevent_dropdown span:active 		{top:1px;}
.addthisevent_dropdown .ateoutlook 		{border-top:3px solid #0173EF;}
.addthisevent_dropdown .ategoogle 		{border-top:3px solid #613AE3;}
.addthisevent_dropdown .ateoutlookcom 	{border-top:3px solid #C101D8;}
.addthisevent_dropdown .ateyahoo 		{border-top:3px solid #E0036C;}
.addthisevent_dropdown .ateappleical 	{border-top:3px solid #FF0400;}
.addthisevent_dropdown .copyx 			{display:none;}
.addthisevent_dropdown .brx 			{display:none;}
.addthisevent_dropdown .frs 			{position:absolute;top:8px;cursor:pointer;right:13px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;}
.addthisevent_dropdown .frs:hover 		{color:#6d84b4;}
